.title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
}

