.headerWrapper{
    display: flex;
    justify-content: space-between;
}

.rightButtonWrapper{
    display: flex;
    flex-direction: row;
}

.rightButtonWrapper>button{
    margin-left: 10px;
}

.rightButtonWrapper>div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.usernameText{
    font-size: 18px;
    font-weight: bold;
}