.headerWrapper {
    display: flex;
  }
  
  .rightButtonWrapper {
    display: flex;
    flex-direction: row;
  }
  
  .rightButtonWrapper > button {
    margin-left: 10px;
  }
  
  .rightButtonWrapper > div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .usernameText {
    font-size: 18px;
    font-weight: bold;
  }
  
  #logo_img {
    width: 100px;
  }
  
  .centerContent {
    flex-grow: 7;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
  }
  