/* WelcomePage.css */

.welcome-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    text-align: center;
  }
  
  .explore-link {
    display: inline-block;
    margin-top: 20px;
    margin-right: 10px; 
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 8px;
  }
