.user-profile-container {
    max-width: 80%;
    margin: auto;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .author-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .user-info-item {
    font-size: 18px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .info-label {
    font-weight: bold;
    margin-right: 5px;
  }