.paging {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paging button {
  cursor: pointer;
  padding: 6px 10px;
  margin: 0 4px;
  border: 2px solid #ccc;
  border-radius: 6px;
  background-color: transparent;
  color: #333;
  font-size: 12px; /* Reduced font size */
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.paging button:disabled {
  background-color: #ddd;
  color: #666;
  border-color: #ddd;
  cursor: not-allowed;
}

.paging button.active {
  background-color: #007bff;
  color: #fff;
}

/* Hover effect for non-active buttons */
.paging button:not(.active):hover {
  background-color: #f0f0f0;
}
