h3 {
    font-size: 24px;
    color: #004771; 
    margin-bottom: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-weight: bold;    
}



.descriptionContainer {
    display: flex;
    align-items: center;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    text-decoration: none; 
}

.descriptionContainer:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.descriptionContainer img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 20px;
}

.descriptionContainer p {
    flex: 1;
    margin: 0;
    font-size: 14px;
    color: #555;
}
