.descriptionContainer {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.descriptionContainer:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.descriptionContainer img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}

.des {
    flex: 1;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.des p {
    margin: 0;
    font-size: 14px;
    color: #555;
}
