h3 {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #004771;
    margin-bottom: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.recipe-details {
    display: flex;
    flex-direction: column;
}

.descriptionContainer {
    display: flex;
    align-items: center;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    text-decoration: none;
    margin-top: 10px;
}

.descriptionContainer:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.descriptionContainer img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 20px;
}

.descriptionContainer p {
    flex: 1;
    margin: 0;
    font-size: 14px;
    color: #555;
}

.like-button button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.like-button button:hover {
    color: blue; /* Change color on hover if needed */
}

.like-button button:focus {
    outline: none;
}

.like-button button svg {
    font-size: 24px; /* Adjust the icon size as needed */
    margin-right: 5px; /* Adjust the margin between icon and text if needed */
}

.icon {

}
